
@{
    ViewData["Title"] = "Ideas";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewData["Title"]</h2>
<p>Ideas for future projects</p>
<ul>
    <li>build small robot</li>
    <li>personal portfolio website</li>
    <li>javascript game</li>
    <li></li>
</ul>

@await Html.PartialAsync("_Navigation")